extends layout

block content 
	div.card
		div.card-body
			h3.card-title Sign-Up
				hr.hr-duaes
				br
				label username:&nbsp
				input#username(type='text')
				br
				br
				label password:&nbsp
				input#password(type='password')
				br
				br
			button#submit Sign-Up


	script(src='/javascripts/main.js')
